.text-import {
    color: #c9a523;
    font-size: 22px;
}
.data_content{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    flex-flow: row wrap;
    justify-content: center;
    outline: none;
    background: url(../img/true.png) no-repeat;
    background-size: 100% 100%;
    right: 0;
}

.data_main{
    width: calc(100% - 20px);
    margin-bottom: 20px;
    height: calc(65% - 40px);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 18px;
    position: relative;
    background: #000001;
}
.data_main .main_left{
    width: 24%;
    display: none;
}
.data_main .main_left>div{
    width: 100%;
    height: calc(50% - 35px);
    box-sizing: border-box;
    border: 1px solid #2C58A6;
    position: relative;
    box-shadow: 0 0 10px #2C58A6;
}

.data_main .main_left div:nth-child(1){
    margin-bottom: 50px;
}
.data_main .main_left div .main_title{
    width: 180px;
    height: 35px;
    line-height: 33px;
    background-color: #2C58A6;
    border-radius: 18px;
    position: absolute;
    top: -17px;
    left:50%;
    margin-left: -90px;
    color:#fff;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    padding-left: 45px;
    z-index: 1000;
}
.data_main .main_left div .main_title img{
    position: absolute;
    top: 8px;
    left: 20px;
}


.data_main .main_center{
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.l_t_line{
    width: 3px;
    height: 22px;
    left: -2px;
    top: -2px;
}
.t_l_line{
    height: 3px;
    width: 24px;
    left: -2px;
    top: -2px;
}
.t_line_box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.t_line_box i{
    background-color: #4788fb;
    box-shadow: 0px 0px 10px #4788fb;
    position: absolute;
}
.t_r_line{
    height: 3px;
    width: 24px;
    right: -2px;
    top: -2px;
}
.r_t_line{
    width: 3px;
    height: 22px;
    right: -2px;
    top: -2px;
}
.l_b_line{
    width: 3px;
    height: 22px;
    left: -2px;
    bottom: -2px;
}
.b_l_line{
    height: 3px;
    width: 24px;
    left: -2px;
    bottom: -2px;
}
.r_b_line{
    width: 3px;
    height: 22px;
    right: -2px;
    bottom: -2px;
}
.b_r_line{
    height: 3px;
    width: 24px;
    right: -2px;
    bottom: -2px;
}

.second_title{
    width: 140px;
    height: 20px;
    line-height: 20px;
    background-color: rgba(14, 148, 235, 0.8);
    border-radius: 12px;
    position: absolute;
    top: -10px;
    left:50%;
    margin-left: -70px;
    color:#fff;
    font-size: 12px;
    font-weight: normal;
    box-sizing: border-box;
    z-index: 1000;
    text-align: center;
}

.center-left{
    position: absolute;
    width: 20%;
    height: 50%;
    left: 5%;
    top: 25%;
    overflow: scroll;
    font-size: 12px;
    line-height: 2;
    z-index: 1;
}

.center-left li {
    display: flex;
    margin: 4px 0;
    justify-content: space-between;
}

.center-left li span:first-child {
    display: inline-flex;
    width: 6em;
    background: linear-gradient(to right, #fa9e30 0%, #e6c531 100%);
    background: -moz-linear-gradient(left, #fa9e30 0%, #e6c531 100%);
    background: -webkit-linear-gradient(left, #fa9e30 0%,#e6c531 100%);
    background: -o-linear-gradient(left, #fa9e30 0%,#e6c531 100%);
    background: -ms-linear-gradient(left, #fa9e30 0%,#e6c531 100%);
    color: #471405;
    align-items: center;
    justify-content: center;
}

.center-left li span:last-child {
    display: inline-flex;
    width: 100%;
    background: linear-gradient(to right, #248ead 0%, #4ab5e2 100%);
    background: -moz-linear-gradient(left, #248ead 0%, #4ab5e2 100%);
    background: -webkit-linear-gradient(left, #248ead 0%,#4ab5e2 100%);
    background: -o-linear-gradient(left, #248ead 0%,#4ab5e2 100%);
    background: -ms-linear-gradient(left, #248ead 0%,#4ab5e2 100%);
    color: #040d25;
    align-items: center;
    justify-content: left;
    padding: 0 2em;
}

.main_right{
    position: absolute;
    width: 22%;
    bottom: 20px;
    display: inline-flex;
    flex-flow: row wrap;
    right: 0;
    top: 20px;
    background: rgba(13, 31, 50, 0.7);
    padding: 10px;
}

.main_right section {
    width: calc(100% - 20px)
}

.main_right h2 {
    background: linear-gradient(to right, #fa9e30 0%, #e6c531 100%);
    background: -moz-linear-gradient(left, #fa9e30 0%, #e6c531 100%);
    background: -webkit-linear-gradient(left, #fa9e30 0%,#e6c531 100%);
    background: -o-linear-gradient(left, #fa9e30 0%,#e6c531 100%);
    background: -ms-linear-gradient(left, #fa9e30 0%,#e6c531 100%);
    font-size: 14px;
    color: #471405;
    line-height: 1.5;
    text-align: center;
    margin: 10px 0;
}

.main_right .right-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #e1e4e2;
}

.main_right .right-con p {
    text-align: center;
}

.main_right .right-con p {
    text-align: center;
    margin: 0;
}

.data_bottom{
    width: calc(100% - 40px);
    height: calc(35% - 10px);
    margin-left: 20px;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    color: #e1e4e2;
}
.data_bottom>div{
    display: inline-flex;
    height: 100%;
    padding: 8px;
    flex-flow: wrap;
    font-size: 12px;
}

.data_bottom h2 {
    font-size: 14px;
    line-height: 1.5;
    border-bottom: 1px solid #143149;
    width: 100%;
    margin: 0 0 6px 0;
    padding-bottom: 4px;
}

.data_bottom .bottom_1{
    width: 20%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    /* border: 1px solid #2C58A6;
    box-shadow: 0 0 10px #2C58A6; */
    background: rgba(0, 0, 1, 0.7);
}

.bottom_1 div {
    text-align: right;
}

.data_bottom .bottom_center{
    width: 52%;
    height: 100%;
}
.data_bottom .bottom_2{
    width: calc(50% - 35px);
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #2C58A6;
    margin-left: 25px;
    box-shadow: 0 0 10px #2C58A6;
}
.data_bottom .bottom_3{
    width: calc(50% - 40px);
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #2C58A6;
    margin-left:25px;
    box-shadow: 0 0 10px #2C58A6;
}
.data_bottom .bottom_4{
    width: 24%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #2C58A6;
    box-shadow: 0 0 10px #2C58A6;
}
.main_title{
    width: 150px;
    height: 24px;
    line-height: 24px;
    background-color: #2C58A6;
    border-radius: 12px;
    position: absolute;
    top: -12px;
    left:50%;
    margin-left: -75px;
    color:#fff;
    font-size: 12px;
    box-sizing: border-box;
    text-align: center;
}
.data_bottom div .main_title img{
    top: 8px;
    left: 20px;
}

.data_bottom div .main_table tr,.main_table table tr{
    height: 22px;
}
.data_bottom div .main_table,.main_table{
    width: 100%;
    margin-top: 20px;
}
.data_bottom div .main_table table,.main_table table{
    width: 100%;
}
.data_bottom div .main_table thead tr,.main_table table thead tr{
    height: 30px;
}
.data_bottom div .main_table th,.main_table table th{
    font-size: 12px;
    font-weight: normal;
    color:#61d2f7;
    text-align: center;
}

.data_bottom div .main_table td,.main_table table td{
    color:#fff;
    font-size: 10px;
    text-align: center;
}
.data_bottom div .main_table tbody tr:nth-child(1),
.data_bottom div .main_table tbody tr:nth-child(3),
.data_bottom div .main_table tbody tr:nth-child(5),
.main_table tbody tr:nth-child(1),
.main_table tbody tr:nth-child(3),
.main_table tbody tr:nth-child(5){
    background-color: #072951;
    box-shadow:-10px 0px 15px #2C58A6 inset,   /*左边阴影*/
    10px 0px 15px #2C58A6 inset;  /*右边阴影*/
}
.t_btn8,.t_btn2,.t_btn3{
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.percent-box li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.percent-box li>span:first-child {
    display: inline-flex;
    /* width: 10em; */
    text-align: right;

}

.percent-box li p {
    width: 50%;
    height: 8px;
    position: relative;
    background: #949494;
    border-radius: 4px;
    
}

.percent-box li p span {
    display: inline-block;
    width: 20%;
    height: 8px;
    background: #c9a523;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px 0 0 4px;
}