/** 初始化 **/

html,
body {
    width: 100%;
    height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
p,
blockquote,
th,
td,
form,
pre {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
}

body {
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;
    font-family: "Microsoft YaHei";
}

a:active,
a:hover {
    outline: 0
}

img {
    display: inline-block;
    border: none;
    vertical-align: middle;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3 {
    font-size: 14px;
    font-weight: 400;
}

h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


/** 滚动条 **/

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-button:vertical {
    display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background-color: rgba(14, 148, 234, 0.2);
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, .35);
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, .38);
}

.chart-box {
    position: absolute;
    top: 0.42rem;
    bottom: 0;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    height: auto;
}

.container-flex {
    width: 100%;
    height: 100%;
    background: url(../images/index_bg.png) left top no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    outline: none;
}

/*header开始*/
.header{
    width: 100%;
    height: 40px;
    padding:0 20px;    
}
.bg_header{
    width: 100%;
    height: 100%;
    background: url(../img/title.png) no-repeat;
    background-size: 100% 160%;
}

.header_nav {
    color:#fff;
    font-size: 0.35rem;
    text-align: center;
}

.page_title {
    width: 40%;
    font-size: 0.18rem;
    line-height: 0.3rem;
    height: 0.3rem;
    padding-left: 8px;
    color: #fff;
    border-radius: 4px;
    background: -webkit-linear-gradient(left, #0e94eb, rgba(255, 255, 255, 0.1));
    background: -o-linear-gradient(right, #0e94eb, rgba(255, 255, 255, 0.1)); 
    background: -moz-linear-gradient(right, #0e94eb, rgba(255, 255, 255, 0.1));  
    background: linear-gradient(to right,  #0e94eb, rgba(255, 255, 255, 0.1));
}



.box-left {
    width: 38%;
    height: calc(100% - 80px);
    /* background: url(../images/line_img.png) top right repeat-y; */
}

.left-title {
    line-height: 50px;
    color: #ffffff;
    font-size: 24px;
    /* font-weight: 600; */
    margin-left: 5%;
}

.left-top {
    width: calc(100% - 30px);
    height: calc(32% - 30px);
    position: relative;
    border: 1px solid rgba(14, 148, 235, 0.8);
    box-shadow: 0 0 10px rgba(14, 148, 235, 0.8);
    padding: 10px;
    margin: 15px 15px ;
    box-sizing: border-box;
}

.left-center {
    width: calc(100% - 30px);
    height: 24%;
    position: relative;
    border: 1px solid rgba(14, 148, 235, 0.8);
    box-shadow: 0 0 10px rgba(14, 148, 235, 0.8);
    padding: 10px;
    margin: 0 15px;
    box-sizing: border-box;
}

.pie-chart>div {
    float: left;
    width: 36%;
    height: 100%;
    position: relative;
}
.pie-chart>div:first-child{
    width: 64%;
}

.pie-data {
    /* height: 2.25rem; */
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    overflow-y: auto;
    padding-right: 5px;
}

.pie-data p {
    width: 100%;
    /* height: 0.45rem;
    line-height: 0.45rem; */
    font-size: 0.15rem;
    color: #cdddf7;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    cursor: default;
}

.pie-data p>span {
    width: 0;
    flex-grow: 1;
    margin: 0 5px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pie-data p>.pie-number {
    flex-grow: 2;
}

.legend {
    display: inline-block;
    width: 0.2rem;
    height: 0.16rem;
    line-height: 0.2rem;
    border-radius: 2px;
    background: white;
}

.left-bottom {
    width: calc(100% -30px);
    height: calc(28% - 30px);
    position: relative;
    position: relative;
    border: 1px solid rgba(14, 148, 235, 0.8);
    box-shadow: 0 0 10px rgba(14, 148, 235, 0.8);
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
}
.left-bottom .chart-box {
    width: 100%;
    height: calc(100% - 0.3rem)
}

.left-footer {
    width: calc(100% -30px);
    height: calc(16% - 10px);
    position: relative;
    position: relative;
    border: 1px solid rgba(14, 148, 235, 0.8);
    box-shadow: 0 0 10px rgba(14, 148, 235, 0.8);
    padding: 10px;
    margin: 0 15px 10px;
    box-sizing: border-box;
}

.box-center {
    width: 32%;
    height: calc(100% - 80px);
    /*    background: green;*/
}

.center-top {
    width: 100%;
    height: 60%;
    position: relative;
    top: 0;
    left: 0;
    /* background: url(../images/title_border.png) bottom center no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.center-tit>h1 {
    color: #ffffff;
    font-size: 0.3rem;
    font-weight: normal;
    letter-spacing: 5px;
    padding: 0 10px 0 15px;
    line-height: 0.45rem;
    border-radius: 4px;
    margin-top: 20px;
    /* border: 1px solid rgba(14, 148, 235, 0.8); */
    /* background: #2C58A6; */

}

.center-tit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-map {
    height: calc(100% - 40px);
    width: 100%;
}

.center-center {
    width: 100%;
    height: 15%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 10px;
}

.center-pie-box {
    display: flex;
    width: 100%;
    height: calc(100% - 20px)
}

.center-pie {
    display: inline-flex;
    width: 33.33%;
    height: 100%
}

.center-bottom {
    width: 100%;
    height: calc(100% - 80px);
    position: relative;
    border: 1px solid rgba(14, 148, 235, 0.8);
    box-shadow: 0 0 10px rgba(14, 148, 235, 0.8);
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.center-bottom-top1,.center-bottom-top2 {
    width: 44%;
    height:  calc(50% - 20px);
    float: left;
}

.center-bottom-top2 {
    width: 50%;
    height:  calc(50% - 10px);
    float: left;
}

.center-bottom-bottom {
    width: 100%;
    height: calc(50% - 20px);
    float: left;
    background-color: rgba(14, 148, 234, 0.2);
    border: 1px solid #0E94EA;
}

.center-bottom>.city-data {
    width: 8.05rem;
    height: 100%;
    margin: auto;
    position: absolute;
}

.box-right {
    width: 30%;
    height: 100%;
    /* background: url(../images/line_img.png) top left repeat-y; */
}

.right-top {
    width: calc(100% - 30px);
    height: calc(45% - 75px);
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgba(14, 148, 235, 0.8);
    box-shadow: 0 0 10px rgba(14, 148, 235, 0.8);
    padding: 10px;
    margin: 60px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.right-pie {
    width: 100%;
    height: calc(50% - 18px);
    display: flex;
}

.right-pie>div {
    display: inline-flex;
    width: 50%;
    height: 100%;
}

.right_title {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}

.right-center {
    width: calc(100% - 30px);
    height: calc(28% - 15px);
    box-sizing: border-box;
    margin: 0 15px 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(14, 148, 235, 0.8);
    box-shadow: 0 0 10px rgba(14, 148, 235, 0.8);
}

.right-center .chart-box, .right-bottom .chart-box {
    width: 100%;
    height: calc(100% - 0.3rem);
}

.right-bottom {
    width: calc(100% - 30px);
    height: calc(27% - 15px);
    border: 1px solid rgba(14, 148, 235, 0.8);
    box-sizing: border-box;
    margin: 0 15px 10px;
    position: relative;
}


.tishi {
    position: absolute;
    margin: auto;
    top: 0.4rem;
    left: 0;
    right: 0;
    width: 4.8rem;
    text-align: center;
    height: 0.4rem;
    line-height: 0.4rem;
    border: 1px solid #d09d26;
    background: rgba(239, 176, 19, 0.2);
    font-size: 0.16rem;
    color: white;
    display: none;
}

.box-left .main_table{
    margin-top: 10px
}

.main_table3 table {
    width: 100%;
    margin-top: 10px
}

.main_table table tr th {
    font-size: 0.18rem;
    line-height: 0.3rem;
}

.main_table3 tr td,.main_table table tr td {
   font-size: 0.15rem;
   line-height: 0.25rem;
   color: #fff;
}
.main_table3 tr td {
    color: #fff;
    width: 20%;
}

.main_table3 tr:last-child td {
    color: #0e94eb;
    width: 20%;
}